body{
	background-image: url("images/bg_page.png");
	background-repeat: repeat-y;
	background-position: center; 
	width: 80%;
	margin: 0 auto;
}
.photo{
	display: block;
	margin: 0 auto;
	width: 90%;
	height: 30%;
}
h1{
	border-top: 2px solid #78a800; 
	font-size: 25px;
	margin: 10px;
	font-weight: bold;
	color:#c68100;ç
	margin-left: 90px;
	padding-left: 80px;	
	padding-top: 6px;	
}
.bigcontainer{
	width: 60%;
	margin: 0 auto;

}
.container_red{
	color: red;
	font-size: 18px;
	margin-bottom: 20px;
	padding-left: 90px;	
}
.container{
	font-size: 16px;
	margin-bottom: 20px;
	padding-left: 90px;	
	color: grey;
}
.container_yellow{
	font-size: 16px;
	margin-bottom: 20px;
	margin-left: 90px;
	padding: 15px;
	color: grey;
	background-color: #f8fda5;
	border: 2px dashed orange; 
}
strong{
	color: orange;
}
h2{
	border-top: 2px solid #78a800; 
	font-size: 20px;
	margin: 10px;
	font-weight: bold;
	color:#c68100;ç
	margin-left: 90px;
	padding-left: 80px;	
	padding-top: 6px;	
}
h3{
	border-top: 2px solid #78a800; 
	font-size: 18px;
	margin: 10px;
	font-weight: bold;
	color:#c68100;ç
	margin-left: 90px;
	padding-left: 80px;	
	padding-top: 6px;	
}




